.selector-wrapper {
  width: 150px;
  border: 1px solid black;
  /* margin: auto; */
}

.selector li {
  list-style: none;
  background-color: white;
  padding: 5px 0;
}

.selector li:hover {
  background-color: aqua;
}

.selector-wrapper > * {
  margin: 0;
  padding: 0;
}