.selector-wrapper {
  width: 150px;
  border: 1px solid black;
  background-color: white;
  user-select: none;
  /* margin: auto; */
}

.selector li {
  list-style: none;
  background-color: white;
  padding: 5px 0;
}

.picture-name:hover {
  background-color: aqua;
}

.selector-wrapper > * {
  margin: 0;
  padding: 0;
}

.found-picture {
  opacity: 0.6;
}

.picture-name.found-picture:hover {
  background-color: white;
  pointer-events: none;
}

.dropdown-item {
  height: 50xp;
  display: flex;
  align-items: center;
  border-radius: var(--border-radius);
  transition: background var(--speed);
  padding: .5rem;
}

.dropdown-item:hover {
  background-color: #444;
}