input {
  max-width: 20px;
  text-align: center;
  font-weight: bolder;
}

.blur-background {
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}