input {
  max-width: 100px;
  text-align: center;
  font-weight: bolder;
}

.blur-background {
  background-color: rgba(0,0,0, .5);
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  position: fixed;
}

.popup-wrapper {
  position: absolute;
  z-index: 2;
  top: 25%;
  left: 50%;
  background-color: white;
}