img {
  width: 80vw;
  object-fit: cover;
  padding: 15px;
}

.image-container {
  display: inline-block;
}

.image-container::before {
  content: "";
  position: fixed;
  left: -5%;
  top: -5%;
  z-index: -1;

  display: block;
  background-image: url('../../Images/waldo_maze.jpg');
  background-size: cover;
  width: 110%;
  height: 110%;
  filter:blur(5px);
  offset: -5% 0 0 -5%;
}